@using DiskPizza.Models
@model Usuario
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Take Pizza</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/jquery.fileupload.css")" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-md-offset-3 text-center">
                <img src="@Url.Content("~/Images/pizza.jpg")" width="375" height="300" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-7">
                            @Html.LabelFor(m => m.Email, "Email :", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "gustavo_roberto15@hotmail.com" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-7">
                            @Html.LabelFor(m => m.Senha, "Senha:", new { @class = "control-label text-center" })
                            @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-7 text-right">
                            <a href=@Url.Action("Index", "Inicio")>
                                <input type="button" class="btn btn-primary" value="Entrar"; return true;" />
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

