@using DiskPizza.Models
@model Usuario
<div class="modal fade bs-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img src="@Url.Content("~/Imagens/pizza.jpg")" width="375" height="300" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-left">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(m => m.Email, "Email :", new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "gustavo_roberto15@hotmail.com" })
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-md-12">
                                    @Html.LabelFor(m => m.Senha, "Senha:", new { @class = "control-label text-center" })
                                    @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 text-right">
                                    <a href=@Url.Action("Index", "Inicio")>
                                        <input type="button" class="btn btn-primary" value="Entrar" ; return true;" />
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>