@using DiskPizza.Models
@model Pedido
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Take Pizza</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="@Url.Content("~/Content/Inicio.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="form-group" id="Links">
                <div class="col-md-12">
                    <a href="@Url.Action("Index", "Cadastro")">Cadastrar</a> | <a href="@Url.Action("Index", "Login")">Logar</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3" id="camposInicio">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-8">
                            <h3>COMO TE ENCONTRAR?</h3>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.LabelFor(m => m.Cep, "CEP", new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Cep, new {@id = "txtCEP", @class = "form-control", @placeholder = "81480-147" })
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-6">
                            @Html.LabelFor(m => m.Rua, "Rua:", new { @class = "control-label text-center" })
                            @Html.TextBoxFor(m => m.Rua, new { @class = "form-control", @placeholder = "AUTOMATICO" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(m => m.NumeroL, "Número:", new { @class = "control-label text-center" })
                            @Html.TextBoxFor(m => m.NumeroL, new { @class = "form-control", @placeholder = "32213" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-8 text-right">
                            <a href=@Url.Action("Index", "Principal")>
                                <input type="button" class="btn btn-primary" value="Entrar" />
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Scripts/meiomask.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtCEP").setMask("cep");
        });
        
    </script>
</body>
</html>
