@using DiskPizza.Models
@model Usuario
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Take Pizza</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/inicio.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="vertical-center">
        <div class="container">
            <div class="row">
                <div id="camposInicio" class="col-md-6 col-md-offset-3">
                    <form action="@Url.Action("Salvar", "Inicio")" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <h3 class="text-center">CADASTRAR</h3>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Nome, "Nome Completo:", new { @class = "control-label text-center" })
                                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.Telefone, "Telefone:", new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Telefone, new { @id = "txtPHONE", @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.Cpf, "CPF :", new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Cpf, new { @id = "txtCPF", @class = "form-control", @placeholder = "EX. 000.000.000-00" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Email, "Email :", new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "EX. exemplo@hotmail.com" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.ConfEmail, "Confirmação de Email :", new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.ConfEmail, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.Senha, "Senha:", new { @class = "control-label text-center" })
                                @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.ConfSenha, "Confirmação de Senha:", new { @class = "control-label text-center" })
                                @Html.PasswordFor(m => m.ConfSenha, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                                <a href=@Url.Action("Index", "Inicio")>
                                    <input type="button" class="btn btn-primary" value="Voltar" />
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="@Url.Content("~/Scripts/meiomask.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#txtCPF").setMask("cpf");
            $("#txtPHONE").setMask("phone");
        });
    </script>
</body>
</html>