@using DiskPizza.Models

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tamanho</th>
                        <th>Quantidade de Sabores</th>
                        <th>Status</th>
                        <th>Nome do Cliente</th>
                        <th>Email do Cliente</th>
                        <th>Telefone do Cliente</th>
                        <th>CEP</th>
                        <th>RUA</th>
                        <th>Número do Local</th>
                        <th>Itens</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Pedido item in Model)
                    {
                        <tr>
                            <td>@item.Tamanho</td>
                            <td>@item.QtdSabores</td>
                            <td>@item.Status</td>
                            <td>@item.Usuario.Nome</td>
                            <td>@item.Usuario.Email</td>
                            <td>@item.Usuario.Telefone</td>
                            <td>@item.Usuario.Cep</td>
                            <td>@item.Usuario.Rua</td>
                            <td>@item.Usuario.Numero</td>
                            <td>@item.Itens</td>
                            <td>@item.Data</td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-right">
        <a href="@Url.Action("Index","CadProd")" class="btn btn-primary">Novo Produto</a>
    </div>
</div>
